* {
    box-sizing: border-box;
    margin: 0;
  }
  /* h{
    position: fixed;
     top: 2%;
     left: 40%;
     max-width: 80%;
    font-size:xx-large;
    transform: translate(-50%, -50%);
    text-shadow: #ff4136;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:unset;
} */

#heading{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  .calculator {
    background-color: black;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 40px;
  }
  
  #result{
     background-color: yellowgreen;
      width: 100%;
      padding: 10px;
      font-size: 24px;
      border: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
      border-radius: 5px;
  }
  
  .buttons{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      margin-top: 20px;
  }
  
  button{
      padding: 10px;
      font-size: 24px;
      border: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
  }
  
  button:hover{
      background-color: #b46e6e;
  }
  
  .clear{
      background-color: #ff4136;
      color: #fff;
  }
  
  .number, .decimal{
      background-color: #fff;
      color: #2ac2e0;
  
  }
  
  .operator{
      background-color: #0074d9;
      color: #fff;
  }
  
  .equals{
      background-color: #0ced6e;
      grid-row: span 3;
      color: #3010d4;
  }
